doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="css/style.css")
    body 
        
        section#section10.demo
            //-mouse
            .cursor
            .cursor-follower   
            
            //- Metamask Logo
            #logo-container 

            a(href="#canvas1").hover 
                span 

        section     
            canvas#canvas1
            

        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js") 
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js") 
        script(src="js/mouse.js") 
        script(src="js/script.js") 
        script(src="js/canvas.js") 